@model DiaNhac
<form asp-action="Add" method="post" enctype="multipart/form-data">
    <h2>Add POP</h2>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <div class="form-group pb-2">
                <label>Tựa dề</label>
                <input asp-for="TuaCD" class="form-control" />
                <span asp-validation-for="TuaCD" class="text-danger"></span>
            </div>
            <div class="form-group pb-2">
                <label>Nghệ sĩ</label>
                <textarea asp-for="NgheSi" class="form-control"></textarea>
                <span asp-validation-for="NgheSi" class="text-danger"></span>
            </div>
            <div class="form-group pb-2">
                <label>thể loại</label>
                <input asp-for="TrongNuoc" />
                <span asp-validation-for="TrongNuoc" class="text-danger"></span>
            </div>
            <div class="form-group pb-2">
                <label>Số lượng</label>
                <input asp-for="SoLuong" class="form-control" />
                <span asp-validation-for="SoLuong" class="text-danger"></span>
            </div>

            <div class="form-group pb-2">
                <label>Giá</label>
                <input asp-for="GiaBan" class="form-control" />
                <span asp-validation-for="GiaBan" class="text-danger"></span>
            </div>
        </div>
    </div>
   <button type="submit" class="btn btn-primary"> Save </button>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</form>